.aboutUs {
    background-color: $medDark;
    width: 100%;
    padding: 6rem 0;
    .wrapper {
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        display: flex;
        h2 {
            font-size: 3.6rem;
            font-weight: 300;
            text-transform: uppercase;
            color:white;
            margin: 0 auto;
        }
        p.bio {
            font-size: 1.2rem;
            text-align: center;
            line-height: 2;
            color: $textGrey;
            width: 50%;
            margin: 1.2rem 0;
        }
        p.bio::after {
            content:"";
            background-color: $lightDark;
            width: 30%;
            height: 2px;
            margin: 1.6rem auto;
            display: block;
        }
    }
}

.aboutCards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;
    .card {
        color: white;
        background-color: $lightDark;
        padding: 3rem 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .cardImg {
            width: 70%;
            display: flex;
            justify-content: center;
        }
        h4 {
            font-size: 1.5rem; 
            font-weight: 700;
            margin: 1rem;
        }
        p {
            font-weight: 300;
            font-size: 1rem;
            text-align:center;
            line-height: 2;
            color: $textGrey;
            margin: 0.6rem 0;
        }
    }
    .card1 {
        border-bottom: 8px solid $lightGreen;
    }
    .card2 {
        border-bottom: 8px solid $lightPink;
    }
    .card3 {
        border-bottom: 8px solid $lightYellow;
        h4 {
            padding: 0.4rem;
        }
    }
}

//MEDIA QUERIES
@media (max-width: 740px) {
    .aboutUs {
        .wrapper {
            h2 {
                font-size: 3rem;
            }
            p.bio {
                width: 60%;
            }
        }
    }
    .aboutCards {
        grid-gap: 2%;
        .card {
            padding: 2rem 5%;
        }
    }
}

@media (max-width: 450px) {
   .aboutCards {
    grid-template-columns: 1fr;
    .card {
        p {
            margin-bottom: 1rem;
            font-size: 1.2rem;
            padding: 0 10%;
            }
        }
    }
}