.aboutUs {
    width: 100%;
    background-color: $medDark;
    padding: 5rem 0;
    // text-align: center;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        h2 {
            color:white;
            font-size: 3.6rem;
            font-weight: 300;
            margin: 0 auto;
            text-transform: uppercase;
        }
        p.bio {
            color: $textGrey;
            font-size: 1.2rem;
            width: 50%;
            text-align: center;
            margin: 1.2rem 0;
            line-height: 2;
        }
        p.bio::after {
            content:"";
            background-color: $lightDark;
            width: 30%;
            height: 2px;
            display: block;
            margin: 1.6rem auto;
        }
    }
}

.aboutCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;
    width: 100%;
    .card {
        // width: 100%;
        background-color: $lightDark;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 10%;
        color: white;
        .cardImg {
            display: flex;
            justify-content: center;
            img {
                
                width: 70%;
            }
        }
        h4 {
            font-size: 1.5rem; 
            font-weight: 700;
            margin: 1rem;
        }
        p {
            color: $textGrey;
            font-weight: 300;
            font-size: 1rem;
            text-align:center;
            line-height: 2;
            margin: 0.6rem 0;
        }
    }
        .card1 {
            border-bottom: 8px solid $lightGreen;
        }
        .card2 {
            border-bottom: 8px solid $lightPink;
        }
        .card3 {
            border-bottom: 8px solid $lightYellow;
            h4 {
                padding: 0.4rem;
            }
        }
}