.blog {
    background-color: $darkDark;
    width: 100%;
    padding: 5rem 0;
    .wrapper {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-size: 3.6rem;
            font-weight: 300;
            text-transform: uppercase;
            color:white;
            margin: 0 auto;
        }
        p.blogInfo{
            font-size: 1.2rem;
            text-align: center;
            line-height: 2;
            color: $textGrey;
            width: 50%;
            margin: 1.2rem 0;
        }
        p.blogInfo::after {
            content:"";
            background-color: $lightDark;
            width: 30%;
            height: 2px;
            margin: 1.6rem auto;
            display: block;
        }
        .viewAllBtn a { 
            font-size: 0.8rem;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            border: 2px solid white;
            color: #FFF;
            padding: 1.2rem 4rem;
            transition: all 0.5s ease;
        }
        .viewAllBtn a:hover{
            color: $textBlack;
            background-color: #FFF;
        }
    }
}

.blogContent {
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    .column {
        color: #FFF;
        width: 48.5%;
        .text {
            text-align: center;
            h3 {
                font-size: 1.2rem;
                font-weight: 700;
                margin: 0;
            } 
            h4 {
                font-family: 'OpenSans', sans-serif;
                font-size: 0.8rem;
                font-weight: 700;
                text-transform: uppercase;
                margin: 0;
            } 
            p {
                color: $textGrey;
                font-weight: 300;
                line-height: 18px;
                text-align: center;
            }
        }
    }
    .social ul {
        list-style: none;
        padding: 0;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        a {
            font-size: 1rem;
            text-decoration: none;
            color: #FFF;
            padding: 5px;
            margin: 0 5px;
            transition: all 0.5s ease;
        }
        a:hover {
            color: $textBlack;
            background-color: #FFF;
        }
        a.fb {
            background-color: #507DBC;
        }
        a.tw {
            background-color: #1DABEA;
        }
        a.go {
            background-color: #C84238;
        }
    }
    .column1 {
        background-color: $medDark;
        border-bottom: 8px solid $lightYellow;
        display: flex;
        flex-direction: column;
        align-items: center;
        .blogImg {
            margin-bottom: 2rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    } 
    .blogSmall {
        background-color: $medDark;
        display: flex;
        .blogImg {
            width: 50%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .text {
            width: 50%;
            padding: 2rem 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .blogSmall1 {
        border-right: 8px solid $lightPink;
        margin-bottom: 6%;
    }
    .blogSmall2 {
        border-right: 8px solid $lightGreen;
    }
}


//MEDIA QUERIES 
@media (min-width: 1400px) {
    .blogContent {
        .column {
            .text {
                h3 {
                    margin-top: 4rem;
                } 
            }
        }    
        .social ul {
            a {
                font-size: 1.5rem;
            }
        }
        .column1 {
            p {
                padding : 0 10%;
            }
        } 
        .blogSmall {
            .text {
                padding: 3rem 5%;
            }
        }
    }
}

@media (max-width: 880px) {
  .blog {
        .blogContent {
            .column1 {
                width: 40%;
                img {
                    min-height: auto;
                    margin-bottom: 5.5rem;
                }
                p {
                    padding: 0 10%;
                }
            } 
            .column2 {
                width: 57%;
            }
        }  
    }
}

@media (max-width: 800px) {
    .blog {
        .wrapper {
             p.blogInfo{
                width: 75%;
            }
            h2 {
                font-size: 3rem;
            }
            .blogContent {
                display: flex;
                flex-direction: column;
                .column1 {
                    width: 100%;
                    margin-bottom: 2rem;
                    img {
                        min-height: auto;
                        margin-bottom: 2rem;
                    }
                    p {
                        font-size: 1.2rem;
                        padding: 0 10%;
                    }
                } 
                .column2 {
                    width: 100%;
                }
                 .blogSmall {
                    .text {
                        p {
                            font-size: 1.2rem;
                        }
                    }  
                }
            }
        }
    }
}