.contactInfo {
    font-family: 'OpenSans', sans-serif;
    text-align: center;
    background: linear-gradient(90deg, $lightYellow 50%, $darkYellow 50%);
    width: 100%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .textInfo {
        position: relative;
        p.phone {
            font-size: 2.4rem;
            font-weight: 700;
            color: #FFF;
            margin: 0;
        }
        p.email {
            font-size: 4.8rem;
            font-weight: 700;
            color: $textBlack;
            border: 3px solid white;
            padding: 1rem;
            margin: 0.5rem;
        }
        p.address {
            font-size: 1.8rem;
            font-weight: 300;
        }
        .yellowTriangle {
            background:linear-gradient(45deg,$lightYellow 50%, $darkYellow 50%);
            width: 40px;
            height: 40px;
            position: absolute;
            transform: rotate(45deg);
            bottom: -70px;
            left: calc(50% - 20px);
        }
    }
    .map {
        width: 100%;
        margin-top: 5rem;
        iframe {
            width: 100%;
            height: 400px;
            display: block;
        }
    }
}

.getInTouch {
    text-align: center;
    background-color: $darkDark;
    width: 100%;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .getInTouchWrapper {
        width: 32%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        h2 {
            font-size: 3.6rem;
            font-weight: 300;
            text-transform: uppercase;
            color:#FFF;
            margin: 0 auto;
        }
        p {
            font-size: 1.2rem;
            text-align: center;
            line-height: 2;
            color: $textGrey;
            margin: 1.2rem 0;
        }
        p::after {
            content:"";
            background-color: $lightDark;
            width: 30%;
            height: 2px;
            display: block;
            margin: 1.6rem auto;
        }
    }
    .social ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        a {
            font-size: 1.5rem;
            text-decoration: none;
            color: #FFF;
            padding: 5px;
            margin: 0 5px;
            transition: all 0.5s ease;
        }

        a.fb {
            background-color: #507DBC;
        }
        a.tw {
            background-color: #1DABEA;
        }
        a.dr {
            background-color: #F26898;
        }
        a.pin {
            background-color:#CB1D23;
        }
        a.fl {
            background-color: #F91684;
        }
        a.go {
            background-color: #C84238;
        }
        a.li {
            background-color: #0D6498;
        }
        a:hover {
            color: $textBlack;
            background-color: #FFF;
        }
    }
    form {
        width: 100%;
        margin: 3rem 0 2rem 0;
        input, textarea {
            font-size: 1.2rem;
            text-align: center;
            color: $textGrey;
            background-color: $medDark;
            border: none;
            width: 100%;
            padding: 1rem 0;
            margin-bottom: 1rem;
        }
        input:focus,
        textarea:focus {
            color: $darkDark;
            font-weight: 700;
            background-color: $textGrey;
        }
    }
    input[type="submit"] {
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #FFF;
        background: transparent;
        border: 2px solid #FFF;
        padding: 1rem 4rem;
        transition: all 0.5s ease;
    }
    input[type="submit"]:hover {
        background: #FFF;
        color: $textBlack;
    }
}

//MEDIA QUERIES
@media (max-width: 740px) {
    .contactInfo {
        .textInfo {
            p.phone {
                font-size: 2rem;
            }
            p.email {
                font-size: 3rem;
                width: 100%;
                padding: 1rem;
            }
            p.address {
                font-size: 1.3rem;
                font-weight: 400;
            }
            .yellowTriangle {
                bottom: -50px;
            }
        }
        .map {
            margin-top: 3rem;
            iframe {
                height: 250px;
            }
        }
    }
    .getInTouch {
        .getInTouchWrapper {
            width: 50%;
        }
    }  
}

@media (max-width: 500px) {
    .getInTouch {
        .getInTouchWrapper {
            width: 70%;
            h2 { 
            font-size: 3rem;
            }
        }
    }  
}

@media (max-width: 500px) {
  .contactInfo {
      .textInfo {
          p.phone {
              font-size: 1.8rem;
          }
          p.email {
              font-size: 2.5rem;
          }
          p.address {
              font-size: 1.1rem;
          }
          .map {
              iframe {
                  height: 200px;
              }
          }
      }
    }
    .getInTouch {
        .getInTouchWrapper {
            width: 80%;
        }
    }  
}

