footer {
    background: linear-gradient(90deg, $lightLight 50%, $medLight 50%);
    width: 100%;
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3%;
        padding: 5rem 0;
        .column {
            h3 {
                font-size: 1.6rem;
                font-weight: 700;
                color: $textBlack;
                margin: 0 0 1rem 0;
            }
            p {
                font-size: 1rem;
                color: $textGrey;
                line-height: 2;
                margin: 0;
            }
        }
        .column2 .post {
            display: flex;
            img {
                width: 130%;
            }
            .postText {
                display: flex;
                flex-direction: column;
                align-content: center;
                margin-left: 10%;
                
                h4, p.date {
                    font-size: 1rem;
                    font-weight: 300;
                    line-height: 2;
                    color: $textBlack;
                    margin: 0;
                }
                p.date {
                    color: $textGrey;
                }
            }
        }
        .post1, .post2 {
            margin-bottom: 0.5rem;
        }
        .column4 img {
            width: 100%;
        }
    }
    .newsletter {
        margin-top: 1rem;
        input {
            background-color: #EBEBEB;
            border: none;
            padding: 1.1rem;
            width: 65%;
        }
        button {
            font-size: 0.8rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $textPink;
            background: transparent;
            border: 2px solid $textPink;
            width: 32%;
            padding: 1rem;
            transition: all 0.5s ease;
        }
        button:hover {
            color: #FFF;
            background-color: $textPink;
        }
    }
    .footerBottomBar {
        font-size: 0.9rem;
        text-align: center;
        color: $textGrey;
        background-color: $darkDark;
        width: 100%;
        padding: 2rem 0;
        span {
            color: #FFF;
        }
    }
}

//MEDIA QUERIES
@media (max-width: 740px) {
    footer {
        .wrapper {
            grid-template-columns: repeat(2, 1fr);
            .column {
                p {
                    font-size: 1.2rem;
                    line-height: 1.5;
                }
            }
            .column2 .post {
                img {
                    width: 120%;
                }
                .postText {
                    h4, p.date {
                        font-size: 1.2rem;
                        line-height: 1.5;
                    }
                }
            }
        }
    }  
}

@media (max-width: 400px) {
    footer {
        .wrapper {
            grid-template-columns: 1fr;
        }
    }  
}

