.navBar {
    background: linear-gradient(90deg, $lightLight 50%, $medLight 50%);
    box-shadow: 1px 1px 5px $textGrey;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    z-index: 10;
    .wrapper {
        width: 61%;
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 50%;
        }
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            li {
                border-right: 1px solid gainsboro;
                padding: 0 1.8rem;
                display: flex;
                justify-content: space-around;
                &.last {
                    border-right: none;
                }
                a {
                    font-size: 1rem;
                    font-weight: 300;
                    text-decoration: none;
                    color: $textBlack;
                    transition: all 1s ease;
                }
                a:hover {
                    font-weight: 700;
                    color: $textPink;
                }
            }
        }
    }
}

// MEDIA QUERIES
@media (max-width: 862px) {
    header {
        .wrapper {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-content: center;
        }
    }
}
@media (max-width: 600px) {
    .navBar {
        .wrapper {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-content: center;
            ul {
                li {
                    padding: 0 3rem;
                }
            }
        }
    }
}
@media (max-width: 450px) {
    .navBar {
        .wrapper {
            ul {
                li {
                    padding: 0 2rem;
                }
            }
        }
    }
}