
.navBar {
    width: 100%;
    background: linear-gradient(90deg, $lightLight 50%, $medLight 50%);
    padding: 10px 0;
    position: fixed;
    z-index: 10;
    box-shadow: 1px 1px 5px $textGrey;
    .wrapper {
        width: 61%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        img {
            width: 50%;
        }
        ul {
            list-style: none;
            display: flex;
            padding: 0;
            li {
                border-right: 1px solid gainsboro;
                padding: 0 1.8rem;
                display: flex;
                justify-content: space-around;
                &.last {
                    border-right: none;
                }
                a {
                    font-size: 1rem;
                    font-weight: 300;
                    text-decoration: none;
                    color: $textBlack;
                    transition: all 1s ease;
                }
                a:hover {
                    color: $textPink;
                    font-weight: 700;
                }
            }
        }
    }
}

