.quoteBanner {
    background: linear-gradient(90deg, $lightPink 50%, $medPink 50%);
    width: 100%;
    padding: 9rem 0;
    position: relative;
    .quoteText {
        text-align: center;
        width: 30%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        p.quote {
            font-size: 3.6rem;
            font-weight: 700;
            color: $textBlack;
            margin: 0;
        }
        &::before,
        &::after {
            font-size: 14rem;
            font-weight: 700;
            color: white;
            position: absolute;
            top: -4rem;
            display: block;
        }
        &::before {
            content: "“";
            left: -7rem;
        }
        &::after {
            content: "”";
            right: -7rem;
        }
        p.author {
            font-size: 2.4rem;
            font-weight: 300;
            line-height: 0.5;
            color: white;
        }
    }
     .pinkTriangle {
         background:linear-gradient(45deg,$lightPink 50%, $medPink 50%);
        width: 40px;
        height: 40px;
        position: absolute;
        transform: rotate(45deg);
        bottom: -20px;
        left: calc(50% - 20px);
    }
}

//MEDIA QUERIES
@media (min-width: 1250px) {
        .quoteBanner {
        padding: 7rem 0;
        .quoteText {
            width: 25%;
        }
    }
}
@media (max-width: 1042px) {
    .quoteBanner {
        padding: 7rem 0;
        .quoteText {
            width: 40%;
        }
    }
}

@media (max-width: 780px) {
    .quoteBanner {
        padding: 7rem 0;
        .quoteText {
            width: 50%;
        }
    }
}

@media (max-width: 625px) {
    .quoteBanner {
        padding: 6rem 0;
        .quoteText {
            width: 60%;
            p.quote {
            font-size: 3rem;
            }
            &::before,
            &::after {
                font-size: 10rem;
                top: -4rem;
            }
            &::before {
                content: "“";
                left: -5rem;
            }
            &::after {
                content: "”";
                right: -5rem;
            }
            p.author {
                font-size: 2rem;
            }
        }
    }
}