.siteTop {
    background: linear-gradient(90deg, $lightYellow 50%, $darkYellow 50%);
    padding: 15rem 5%;
    margin-bottom: 0;
    border: 1px solid pink;
    position: relative;
    .yellowTriangle {
        background:linear-gradient(45deg,$lightYellow 50%, $darkYellow 50%);
        width: 40px;
        height: 40px;
        transform: rotate(45deg);
        position: absolute;
        bottom: -21px;
        left: calc(50% - 20px);
    }
    .wrapper {
        display: flex;
        position: relative;

        .topSide1 {
            width: 50%;
            position: relative; 
        }
        .topSide2 {
            width: 50%;
            position: relative;
            img {
                width: 120%;
                position: absolute;
                top: 20%;
                left: -20%;
            }
        }
        h1 {
           font-size: 4.8rem;
           font-weight: 300;
           text-transform: uppercase;
           line-height: 0.8;
           color: white;
           margin-bottom: 1.5rem;
           span {
               font-weight: 700;
               color: $textBlack;
           }
        }
        p {
            font-size: 1.2rem;
            line-height: 2;
            color: $textBlack;
            margin: 0;
            margin: 1.6rem 0 5rem 0;
        }
        
        a {
            font-size: 0.8rem;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
            color: $textBlack;
            border: 3px solid white;
            background: transparent;
            padding: 3%;
            transition: all 0.5s ease;   
        }
        a:hover {
            background-color: #FFF;
        }
    }
}
.circles {
    display: flex;
    position: absolute;
    bottom: -50%;
    right: calc(50% - 20px);
    .circle {
        border: 2px solid white;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        transition: all 0.5s ease;
    }
    .circle:hover {
        border: 2px solid $textBlack;
        cursor: pointer;
    }
    .circle1 {
        border: 2px solid $textBlack;
        margin-right: 5px;
    }
    .circle2 {
        margin-right: 5px;

    }
}

//MEDIA QUERIES
@media (min-width: 1500px) {
    .siteTop {
        .wrapper {
            .topSide1 {
                width: 50%;
            }
            .topSide2 {
                img {
                    width: 100%;
                    left: -10%;
                }
            }
            h1 {
            width: 60%;
            }
        }
    }
} 

@media (max-width: 1115px) {
    .siteTop .wrapper {
        width: 80%;
    }
}

@media (max-width: 822px) {
    .siteTop .wrapper .topSide2 {
        width: 50%;
        position: relative;
        img {
            width: 120%;
            position: absolute;
            top: 20%;
            left: -20%;
        }  
    }
}

@media (max-width: 678px) {
    .siteTop {
        padding: 12rem 0% 8rem 0%;
        .wrapper { 
            width: 90%;
            .topSide1 {
                width: 60%;
            }
            .topSide2 {
                img {
                    top: 30%;
                    left: -10%;
                }
                .yellowTriangle {
                left: -49px;
                bottom: -100px;
                }
            }
        }
    }
    .circles {
        bottom: -20%;
    }
}

@media (max-width: 488px) {
    .siteTop {
        padding: 12rem 0% 8rem 0%;
        .wrapper { 
            width: 90%;
            .topSide1 {
                width: 70%;
            }
            .topSide2 {
                width: 30%;
                img {
                    width: 160%;
                    top: 60%;
                    left: -50%;
                }
            }
            p {
                width: 80%
            }
        }
    }
}
