.skills {
    width: 100%;
    background-color: $darkDark;
    padding: 5rem 0 ;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        h2 {
            color:white;
            font-size: 3.6rem;
            font-weight: 300;
            margin: 0 auto;
            text-transform: uppercase;
        }
        p.skillInfo {
            color: $textGrey;
            font-size: 1.2rem;
            width: 50%;
            text-align: center;
            margin: 1.2rem 0;
            line-height: 2;
        }
        p.skillInfo::after {
            content:"";
            background-color: $lightDark;
            width: 30%;
            height: 2px;
            display: block;
            margin: 1.6rem auto;
        }
    }
    .skillset {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        .skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3rem 8%;
            color: white;
            .skillImg {
                display: flex;
                justify-content: center;
            }
            h4 {
               font-size: 1.6rem; 
               font-weight: 700;
               margin: 1.6rem 0;
            }
           p {
               color: $textGrey;
               font-weight: 300;
               font-size: 1rem;
               text-align: center;
               line-height: 24px;
               margin:0;
           }
        }
    }
}

//MEDIA QUERIES
@media (max-width: 740px) {
  .skills {
        .wrapper {
            h2 {
                font-size: 3rem;
            }  
        }
    }
}

@media (max-width: 630px) {
    .skills {
        .skillset {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 450px) {
    .skills {
        .wrapper {
            width: 90%;
            .skillset {
                grid-template-columns: repeat(2, 1fr);
                .skill {
                    padding: 2rem 5%;
                }
            }
        }
    }
}