.meetTheTeam {
    width: 100%;
    background-color: $darkDark;
    padding: 5rem 0;
    .wrapper {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h2 {
            color:white;
            font-size: 3.6rem;
            font-weight: 300;
            margin: 0 auto;
            text-transform: uppercase;
        }
        p {
            color: $textGrey;
            font-size: 1.2rem;
            width: 50%;
            text-align: center;
            margin: 1.2rem 0;
            line-height: 2;
        }
        p::after {
            content:"";
            background-color: $lightDark;
            width: 30%;
            height: 2px;
            display: block;
            margin: 3rem auto;
        }
        .team {
            display: grid;
            // grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 2%;
            .member {
                background-color: $lightDark;
                display: flex;
                flex-direction: column;
                border-bottom: 8px solid $lightPink;
                img {
                    width: 100%;
                }
                .social ul {
                    display: flex;
                    list-style: none;
                    justify-content: center;
                    padding: 3rem 0;
                    a {
                        text-decoration: none;
                        font-size: 1.5rem;
                        color: #FFF;
                        padding: 5px;
                        margin: 0 5px;
                        transition: all 0.5s ease;
                    }
                    a:hover {
                        color: $textBlack;
                        background-color: #FFF;
                    }
                }
            }
        }
    }
}

.meetTheTeam {
    .wrapper{
        .social {
            a.fb {
                background-color: #507DBC;
            }
            a.tw {
                background-color: #1DABEA;
            }
            a.dr {
                background-color: #F26898;
            }
            a.pin {
                background-color:#CB1D23;
            }
            a.fl {
                background-color: #F91684;
            }
            a.go {
                background-color: #C84238;
            }
            a.li {
                background-color: #0D6498;
            }
        }
    }
}

//MEDIA QUERIES
@media (max-width: 740px) {
  .meetTheTeam {
        .wrapper {
            h2 {
                font-size: 3rem;
            }
            .team {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 2%; 
            }
        }
    }  
}

